<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	<meta name = "viewport"
		  content = "width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel = "stylesheet"
		  href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css"
		  integrity = "sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb"
		  crossorigin = "anonymous">
	<link rel = "stylesheet"
		  type = "text/css"
		  href = "{{ url_for('static', filename='style.css') }}">

	{% if title %}
		<title>My Flask App - {{ title }}</title>
	{% else %}
		<title>Flask App</title>
	{% endif %}
</head>
<body>

<div class = "container-fluid">
	{% include "header.html" %}
</div>
<div class = "container-fluid mb-5 mt-5">
	<h1 class = "text-center">Welcome to the {{ page }} Page!</h1>
</div>

<main role = "main"
	  class = "container-fluid">
	<div class = "row">
		<div class = "col-md-8">
			<div id = "flash-time-out">
				{# flash messages #}
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class = "alert alert-{{ category }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>

			<div class = "container-fluid border-1">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div class = "col-md-4">
			{% include "sidebar.html" %}
		</div>
	</div>
</main>

{# bootstrap javascript #}
<script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7HUiUB39j7fakFPskvXusvfa0b4Q"
		crossorigin = "anonymous"></script>
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin = "anonymous"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#flash-time-out").fadeOut(1000);
        }, 5000); // 5 seconds delay
    });
</script>
<!-- In post.html or base.html -->
<script>
    function confirmDelete(postId) {
        if (confirm("Are you sure you want to delete this post?")) {
            window.location.href = "/post/" + postId + "/delete";
        }
    }
</script>
</body>
</html>
