<header class = "site-header">
	<nav class = "navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		<div class = "container">
			<a class = "navbar-brand mr-4"
			   href = "/">Flask Blog</a>
			<button class = "navbar-toggler"
					type = "button"
					data-toggle = "collapse"
					data-target = "#navbarToggle"
					aria-controls = "navbarToggle"
					aria-expanded = "false"
					aria-label = "Toggle navigation">
				<span class = "navbar-toggler-icon"></span>
			</button>
			<div class = "collapse navbar-collapse"
				 id = "navbarToggle">
				<div class = "navbar-nav mr-auto">
					<a class = "nav-item nav-link"
					   href = "{{ url_for("home") }}">Home</a>
					<a class = "nav-item nav-link"
					   href = "{{ url_for("about") }}">About</a>
					<a class = "nav-item nav-link"
					   href = "{{ url_for("create_post") }}">Create Post</a>
					{#					<a class = "nav-item nav-link"#}
					{#					   href = "{{ url_for("update_post", post_id=post.id) }}">Update Post</a>#}
				</div>
				<!-- Navbar Right Side -->
				<div class = "navbar-nav">
					<a class = "nav-item nav-link"
					   href = "{{ url_for("login") }}">Login</a>
					<a class = "nav-item nav-link"
					   href = "{{ url_for("register") }}">Register</a>
					<a class = "nav-item nav-link"
					   href = "{{ url_for("logout") }}">Logout</a>

					<a class = "nav-item nav-link"
					   href = "{{ url_for("profile") }}"><img class = "rounded-circle account-img"
															  src = "{{ url_for('static', filename='profile_pictures/' + current_user.profile_picture) }}"
															  alt = "Profile Picture"></a>
				</div>
			</div>
		</div>
	</nav>
</header>